@charset "UTF-8";

/*------------------------------
  공통 스타일시트 작성
------------------------------*/

/*common style*/
*{
  box-sizing: border-box;
}

html, body{
  padding: 0px;
  margin: 0px;
  background-color: $bg-color;
}

/*text*/
:lang(ko){
  font-family: 'Noto Sans KR', 'Roboto';
}
:lang(en){
  font-family: 'Roboto', 'Noto Sans KR';
}

/*content*/
.content-header{
  padding: 20px;
  .title{
    text-align: center;
    font-family: 'Prompt';
    color: #032340;
    font-size: 60px;
  }
  &.sub{
    .title{
      font-size: 50px !important;
    }
  }
}

.content-footer{
  display: flex;
  padding: $p-20;
}