@charset "UTF-8";

/*------------------------------
  기본 스타일시트 작성
------------------------------*/

.page{
  position: relative;
}

/*header*/
.header{
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  position: absolute;
  z-index: 99;
  .logo{
    h1{
      padding: $p-0 $p-10;
      letter-spacing: -5px;
      color: #1E6FD9;
      text-shadow: 5px 5px #91BBF2;
    }
  }
  .menu{
    margin-left: $m-auto;
  }
  .nav-link{
    color: $white-color;
  }
}

/*menu*/
.nav{
  display: flex;
  flex-direction: row;
  padding: $p-0 $p-10;
  .nav-item{
    padding: $p-10;
    line-height: 40px;
    transition: width 0.5s;
    &:hover{
      .nav-link{
        border-bottom: $border-default;
        border-width: 4px;
        transition: width 0.5s;
      }
    }
  }
  .nav-link{
    display: block;
    font-size: $font-size-18;
    font-weight: $font-weight-600;
    transition: width 0.5s;
  }
}

/*main*/
.main-component{
  height: 1040px;
  position: relative;
  .main-content{
    height: 100%;
    overflow: hidden;
    .main{
      height: 100%;
      position: relative;
      background-color: rgba(0,0,0,0.2);
      width: 100%;
      background-size: cover;
      z-index: 2;
    }
    .text{
      position: absolute;
      z-index: 2;
      left: 20%;
      top: 40%;
      transform: translate(-20%, -40%);
      padding: 20px;
      color: #fff;
      p{
        &::before{
          content: '';
          border: 1px solid;
          width: 200px;
          position: absolute;
          right: 28px;
          bottom: 30px;
        }
      }
    }
    .bg{
      background-image: url('../images/bg/main_bg_2.jpg');
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: fixed;
      top: 0;
    }
  }
}

/*all*/
.profile-component, .history-component, .project-component, .contact-component{
  position: relative;
  z-index: 3;
}

/*profile*/
.profile-content{
  background-color: $bg-color;
  padding: 100px $p-0;
  .profile{
    .content-body{
      padding: $p-0 $p-20;
    }
  }
}
.profile, .certificate, .history{
  padding: $p-20;
  width: 60%;
  margin: auto;
}

// 프로필
.profile-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $p-10 $p-0;
  border-top: $border;
  border-bottom: $border;
  .item{
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    .inf{
      margin: $m-auto $m-0;
    }
  }
  .icon{
    width: 32px;
    height: 32px;
    margin: $m-20;
  }
}

// 자격증
.certificate{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: .5s;
  .item{
    border: $border;
    border-radius: $border-radius-10;
    background-color: $white-color;
    flex: 0 0 calc(50% - 40px);
    padding: $p-20;
    display: flex;
    flex-direction: row;
    margin: $m-20;
  }
  .inf{
    display: flex;
    flex-direction: row;
    font-size: $font-size-14;
    padding: $p-0 $p-20;
    padding-left: $p-0;
    width: calc(100% - 52px);
    span{
      margin: auto 10px;
      flex-grow: 1;
      &:last-child{
        text-align: right;
      }
    }
  }
  .icon{
    width: 32px;
    height: 32px;
    margin: $m-10;
  }
}

// 기술
.skills{
  // background-color: #0388A6;
  .content-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $p-0;
    width: 60%;
    margin: auto;
  }
}

.skill-list{
  background-color: $white-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius-10;
  margin: $m-20;
  flex-grow: 1;
  .title{
    padding: $p-20;
    text-align: center;
  }
}

.skill-item{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  padding: $p-20;
  .item{
    padding: $p-10;
    margin: $m-auto;
  }
  img{
    max-height: 60px;
    height: 60px;
    margin: $m-auto;
  }
}

/*history*/
.history-component{
  background-color: #2C3740;
}
.history-content{
  padding: 100px $p-20;
  .content-header{
    .title{
      color: $yellow-color;
    }
  }
}

.history-item{
  position: relative;
  .title{
    font-weight: $font-weight-600;
    font-size: $font-size-20;
    text-align: left;
    color: $yellow-color;
    &::before{
      content: '';
      border: $border;
      border-width: 6px;
      border-color: $yellow-color;
      position: absolute;
      border-radius: $border-radius-10;
      top: 46px;
      left: 15px;
    }
  }
  .history-sub-item{
    padding: $p-20;
    border-left: $border-default-dashed;
    border-color: $yellow-color;
    margin: $m-20 $m-0 $m-20 $m-20;
  }
  .item{
    padding: $p-20;
    // background-color: #C4E1F2;
    border-radius: $border-radius-10;
    margin-bottom: 20px;
    p{
      margin-bottom: $m-5;
      color: $white-color;
    }
    label{
      border-radius: 20px;
      border: $border;
      border-color: $yellow-color;
      color: $yellow-color;
      background-color: transparent;
      padding: $p-5 $p-20;
      display: inline-block;
      font-size: $font-size-14;
      margin: $m-0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/*project*/
.project-component{
  background-color: $bg-color;
  height: 1282px;
}
.project-content{
  padding: 100px $p-0;
  .content-body{
    padding: $p-20;
  }
}
.project{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  .tab-menu{
    margin: auto;
  }
  .tab{
    transition: .5s;
  }
}

.tab-menu{
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  .item{
    padding: $p-5 $p-20;
    border: $border-default;
    border-radius: $border-radius-20;
    color: $blue-color;
    font-size: $font-size-14;
    transition: 0.3s;
    margin: $m-10;
    &.active{
      background-color: $blue-color;
      color: $white-color;
    }
    &:hover{
      background-color: $blue-hover-color;
      color: $white-color;
      box-shadow: $box-shadow;
      cursor: pointer;
    }
  }
  &.white{
    .item{
      border-color: $white-color;
      color: $white-color;
      &.active{
        border-color: $blue-color;
      }
      &:hover{
        border-color: $blue-color;
        box-shadow: $box-shadow;
      }
    }
  }
}

.tab-content{
  padding: $p-0 $p-20;
}

.project-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item{
    background-color: $white-color;
    flex: 0 0 calc(33.3% - 40px);
    margin: $m-20;
    padding: $p-20;
    border-radius: $border-radius-10;
    box-shadow: $box-shadow;
    cursor: pointer;
  }
  .item-img{
    width: 100%;
    height: 300px;
    background-color: #1E6FD9;
  }
  .item-inf{
    font-size: $font-size-14;
    text-align: center;
    font-weight: $font-weight-600;
    padding-top: $p-10;
    height: calc(100% - 300px);
    display: flex;
    p{
      margin: auto;
    }
  }
}

// contact
.contact-component{
  background-color: $gray-color;
  display: flex;
  flex-direction: column;
  .contact-content{
    padding: 100px $p-40;
    background-color: $yellow-color;
  }
}

.contact{
  width: 80%;
  margin: auto;
  .content-body{
    > p{
      line-height: 1.4;
      padding: $p-20;
      text-align: center;
    }
  }
  .item{
    background-color: $white-color;
    border-radius: $border-radius-10;
    padding: $p-20;
    box-shadow: $box-shadow;
    display: flex;
    span{
      flex-grow: 1;
    }
  }
}

.footer{
  text-align: center;
  background-color: $bg-color;
  padding: $p-20;
}

/*효과*/

// main text
.text{
  h1{
    color: transparent;
    white-space: nowrap;
    &::before{
      content: "LEE JI YUN PORTFOLIO.";
      position: absolute;
      overflow: hidden;
      border-right: 1px solid $white-color;
      animation: typing 5s steps(31) infinite;
      color: $white-color;
    }
  }
}

@keyframes typing{
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

// scroll
.scroll{
  position: absolute;
  border: 2px solid #fff;
  width: 38px;
  height: 56px;
  border-radius: 20px;
  bottom: 100px;
  left: 50%;
  transition: 1s;
  animation-name: move;
  animation-duration: 5s;
  transform: translateY(0);
  animation-iteration-count: infinite;
  z-index: 2;
  &::before{
    content: '';
    border: 2px solid #fff;
    position: absolute;
    left: 16px;
    top: 10px;
    border-radius: 5px;
    height: 8px;
  }
  &::after{
    content: 'Scroll';
    position: absolute;
    bottom: -34px;
    color: #fff;
    font-weight: 500;
    left: -6px;
    text-align: center;
    font-size: 18px;
  }
}

@keyframes move {
  0% { 
    transform: translateY(0px);
  }
  50%   { 
    transform: translateY(100px);
    opacity: 0;
  }
  100%   { 
    transform: translateY(0px);
  }
}

// 스킬 카드
.skill-list{
  transition: 0.5s;
  transform: translateY(0px);
  &:hover{
    transform: translateY(10px);
  }
}

// 프로젝트 카드
.project-item{
  .item{
    transition: 0.5s;
    &:hover{
      transform: scale( 1.05, 1.05);
    }
  }
}

// contact
.contact{
  .item{
    &:hover{
      animation-name: shake;
      transition: .5s;
      animation-duration: .5s;
      animation-iteration-count: 2;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/*modal*/
#projectDetail{
  .project-item{
    .item-img{
      width: 50%;
      height: 500px;
    }
    .item-inf{
      flex-direction: column;
      text-align: left;
      small{
        font-size: $font-size-16;
        font-weight: $font-weight-400;
      }
      p{
        font-size: $font-size-20;
      }
    }
  }
}