@charset "UTF-8";

/*------------------------------
  초기화 스타일시트 작성
------------------------------*/

/*text*/
h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a{
  text-decoration: none;
  color: $black-color;
}

p{
  margin: $m-0;
}

label{
  font-size: 14px;
  padding: $p-5 $p-15;
  border: $border-default;
  background-color: $blue-color;
  border-radius: $border-radius-10;
  color: $white-color;
  margin: $m-0 $m-10;
}

small{
  color: $gray-color;
}

/*ul, li*/
ul, li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*scroll*/
::-webkit-scrollbar{
  width: 6px;
  background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb{
  background-color: #bfbfbf;
  border-radius: 5px;
  &:hover{
    background-color: #888;
  }
}
::-webkit-scrollbar-track{
  border-radius: 5px;
}

/*modal*/
.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  top: 0;
  transition: .5s;
  padding: 60px;
  .modal-content{
    width: calc(100% - 120px);
    height: 800px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: $box-shadow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
  }
  .modal-header, .modal-body{
    padding: 20px;
  }
  .modal-header{
    display: flex;
    .btn-close{
      margin-left: auto;
      cursor: pointer;
      opacity: 0.5;
      transition: .5s;
      &:hover{
        opacity: 1;
      }
      .icon{
        width: 32px;
        height: 32px;
      }
    }
  }
}